@model IEnumerable<ShoppingCart.Application.ViewModels.TaskViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>Task</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descrption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descrption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.ActionLink("Upload", "Create", "File", new { id = item.id })

                    @Html.ActionLink("View Submission", "ViewSubmission", "Task", new { id = WebApplication1.Utility.Encryption.SymmetricEncrypt(item.id.ToString()) })
                </td>
            </tr>
        }
    </tbody>
</table>
