@model IEnumerable<ShoppingCart.Application.ViewModels.FileViewModel>

@{ 
    ViewData["Title"] = "Index";
}
<h1>All Submissions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Task Description
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.file)
                </th>
                <th>

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.task.descrption)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.file)
                    </td>
                    <td>
                        @Html.ActionLink("Upload Comment", "Create", "Comment", new { id = WebApplication1.Utility.Encryption.SymmetricEncrypt(item.Id.ToString()) })
                        @Html.ActionLink("View Comment", "Index", "Comment", new { id = WebApplication1.Utility.Encryption.SymmetricEncrypt(item.Id.ToString()) })
                        @Html.ActionLink("Download File", "Download", "File", new { id = WebApplication1.Utility.Encryption.SymmetricEncrypt(item.Id.ToString()) })
                    </td>

                </tr>
            }

          
        </tbody>
    </table>

